Day2/data_alexnet_vgg16.tar.gz.partaa
Day2/data_alexnet_vgg16.tar.gz.partab
Day2/data_alexnet_vgg16.tar.gz.partac
Day2/data_alexnet_vgg16.tar.gz.partad
Day2/data_alexnet_vgg16.tar.gz.partae
Day2/data_alexnet_vgg16.tar.gz.partaf
Day2/data_alexnet_vgg16.tar.gz.partag